<div>
    <p></p>
    <h3>Мои заказы</h3>
    <p></p>

    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Адрес доставки</td>
            <td>Стоимость</td>
        </tr>
        <tbody>
        <tr ng-repeat="orders in MyOrders">
            <td>{{orders.id}}</td>
            <td>{{orders.addressToFront}}</td>
            <td>{{orders.totalPrice}}</td>
            <td>
                <button class="btn btn-primary" ng-click="goToPay(orders.id)">Оплатить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>