<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Products list</title>
</head>

<body>
<div class="container" ng-controller="productController">
    <br>
    <div class="row">
        <div class="col col-lg-8"></div>
        <div class="form-wrapper col col-lg-4">
            <h6>Filtered products:</h6>
            <br>
            <form class="filter-form" novalidate ng-submit="filteredProducts(min, max)">
                <input class="form-control" type="number" placeholder="min cost" min="0"
                       max="1000000" ng-model="min">
                <br>
                <input class="form-control" type="number" placeholder="max cost"
                       min="0" max="1000000" ng-model="max">
                <br>
                <button type="submit" class="btn btn-primary">filter</button>
            </form>
        </div>
    </div>
    <br>
    <h3>Products list: </h3>
    <br>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>cost</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in ProductsList">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.cost}}</td>
            <td>
                <p>
                    <button class="btn btn-secondary" ng-click="deleteProduct(product.id)">delete</button>
                    <input type="number" min="1" max="1000000000" placeholder="new cost" ng-model="delta">
                    <button class="btn btn-primary" ng-model="product.id" ng-click="changeCost(product.id, delta)">change cost</button>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="pagination">
        <button class="btn btn-secondary" ng-click="goToPreviousPage()"><< prev page</button>
        <button class="btn btn-secondary" ng-click="goToNextPage()">next page >></button>
    </p>
</div>
</body>
</html>